<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whut.getianao.walking_the_world_android">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 获取sd卡写的权限，用于文件上传和下载 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 允许访问相机 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 百度地图相关权限 -->
    <!-- //获取设备网络状态，禁用后无法获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- //网络权限，当禁用后，无法进行检索等相关业务 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- //读取设备硬件信息，统计数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- //读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/> <!-- //获取设备的网络状态，鉴权所需网络代理 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- //允许sd卡写权限，需写入地图数据，禁用后无法显示地图 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- //这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- //获取统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- //使用步行AR导航，配置Camera权限 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- //程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"/>
        <activity android:name=".activity.MineActivity"
            android:theme="@style/Account_Base.App.Theme.NoTitle">
        </activity>
        <activity android:name=".activity.MapActivity"
            android:theme="@style/Account_Base.App.Theme.NoTitle">
        </activity>

        <activity android:name=".activity.AddNewsActivity"
            android:theme="@style/Account_Base.App.Theme.NoTitle">

        </activity>
        <activity android:name=".activity.OtherPerson_add"
            android:theme="@style/Account_Base.App.Theme.NoTitle">

        </activity>
        <activity android:name=".activity.OtherPerson_del"
            android:theme="@style/Account_Base.App.Theme.NoTitle">

        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mLm1M72vQsOLZgxxvOOKzI30AqNOhRwo"/>


        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize">


        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="注册"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="密码找回"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Account_Base.App.Theme.NoTitle"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name=".activity.FriendsSearchActivity"
                  android:theme="@style/Account_Base.App.Theme.NoTitle"/>
        <activity android:name=".activity.AddFriendActivity"
            android:theme="@style/Account_Base.App.Theme.NoTitle"/>
        <activity android:name=".activity.HomePageActivity"
            android:theme="@style/Account_Base.App.Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>